<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>
	<appSettings>
		<add key="file_in" value="C:\Users\mtemkine\Desktop\KABOOM\dev\py-sentence-interlacer\proust-out\swann-interlaced-part01.txt" />
		<add key="file_out" value="C:\Users\mtemkine\Desktop\KABOOM\dev\py-sentence-interlacer\proust-out\combined.wav" />
		<add key="file_encoding" value="utf-8" />
		<add key="lang1" value="ru" />
		<add key="lang2" value="fr" />
		<add key="lang1_name" value="Irina" />
		<add key="lang2_name" value="Hortense" />
		<add key="lang1_rate" value="3" />
		<add key="lang2_rate" value="0" />



		<!--<add key="file_in" value="C:\Users\mtemkine\Desktop\KABOOM\dev\room-in-rome\combined.txt" />
		<add key="file_out" value="C:\Users\mtemkine\Desktop\KABOOM\dev\room-in-rome\combined.wav" />
		<add key="file_encoding" value="utf-8" />
		<add key="lang1" value="en" />
		<add key="lang2" value="es" />
		<add key="lang1_name" value="Microsoft David Desktop" />
		<add key="lang2_name" value="Microsoft Helena Desktop" />
		<add key="lang1_rate" value="3" />
		<add key="lang2_rate" value="-1" />-->
		
		<add key="tmpWav" value="TtsReadMultilang.tmp.wav" />
		<add key="maxBytesPerFile" value="30000000" />
	</appSettings>
</configuration>